[class*="col"] {
    padding: 1rem;
    
    border: 2px solid #fff;
    color: #fff;
}

h1 {
    color: rg + --b(13, 64, 204);
    font-size: x-large;
    font-family: Luminari, fantasy;
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
}

h3 {
    font-family: Bookman, URW Bookman L, serif;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
}


p {
   margin: auto;
    width: 65%;
    border: 3px solid;
    padding: 10px;
}

#HeaderImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}